/* Day 5, trying to make a calculator from previous work */
/* This is currently primarily css work done by someone else. I would love to replace it with some of my own code. */

div.simple.background  {
    background: linear-gradient(to bottom, #DFDFDF, #AEAEAE);
    height: 520px;
    width: 414px;
    position: relative;
    border: 1px solid gray;
}

div.grapher.background {
    height: 580px;
    background: linear-gradient(to bottom, #DFDFDF, #AEAEAE);
    width: 414px;
    position: relative;
    border: 1px solid gray;
}

.screen {
    height: 90px;
    width: 374px;
    background-color: #EFFACD;
    position: relative;
    margin: 10px 18px 25px 18px; /* top right bottom left */
    border-radius: 10px;
    border: 2px rgb(175, 181, 146);
    border-style: solid;
    box-shadow:
        0 5px 4px 0 rgb(241, 241, 241),
        0 -3px 4px 0 rgb(128, 128, 128),
        -2px 0 4px 0 rgb(175, 175, 175),
        2px 0 4px 0 rgb(175, 175, 175);
        
}

.simple .screen div{
    position: relative;
    text-align: right;
    margin-right: 45px;
    margin-top: 3px;
    font-size: 26px;
    font-family: Betabet Sans-Regular,Lucida Sans EF Roman, Verdana;
}

.grapher .screen {
    height: 400px;
}

.simple .row {
    margin-left:17px;
}

.calculator button{
    box-shadow:
        0 1.5px 2px #F9F9F9,
        inset 0 5px 5px 0 #F1F1F1,
        inset 0.5px -4.5px 5px 0 #5E5E5E;
    background-color: #D4D4D4;
    font-size: 24px;
    border-radius: 10px;
    border: 1px solid gray;
    width: 92px;
    height: 52px;
    margin-bottom: 10px;
    margin-right: 4px;
}

.simple .graphButton{
    width: 379px;
}

.grapher Button{
    width: 92px;
    height: 114px;
    float: right;
    position: relative;
    margin-right: 17px;
    top:-5;
}

.simple .tallButton{
    width: 92px;
    height: 114px;
    float: right;
    position: relative;
    margin-right: 17px;
}

.simple .wideButton{
    width: 188px;
    height: 50px;
}

.calculator button:hover{
    background-color: rgb(197, 209, 214);
    box-shadow:
        0 1.5px 2px #F9F9F9,
        inset 0.5px -4.5px 5px 0 #5E5E5E;
}

.calculator button:active{
    background-color: rgb(178, 189, 179);
    box-shadow:
        inset 0 5px 5px 0 #5E5E5E;
}

.grapher input {
    height: 40px;
    border-radius: 5px;
    background-color: rgb(176, 199, 204);
    border-color: rgb(126, 164, 173);
    box-shadow:
        0 2px 3px 0 rgb(241, 241, 241),
        0 -3px 3px 0 rgb(128, 128, 128),
        -2px 0 4px 0 rgb(146, 143, 143),
        2px 0 5px 0 rgb(146, 143, 143);
}

.grapher text {
    font-size: 18pt;
}

.function input {
    width: 230px;
}

div.function {
    margin-top: 10px;
}

div.x {
    margin-top: 27px;
}

.x input {
    width: 65px;
}

.x text {
    margin-left: 10px;
}

.function {
    margin-left: 17px;
}

.x {
    margin-left: 7px;
}

input:focus {
    outline: none;
    border-color: white;
    background-color: rgb(208, 228, 233);
}


