img {
	height: 50;
	width: 50;
	margin-top: 5;
	margin-left: 28;
	margin-right: 28;
	background-color: white;
	border: 1px;
	border-radius: 10;
}

.location {
	height: 300;
	width: 330;
	border: 1px black solid;
	float: left;
	padding-left:2px;
}

.house {
	background-color: rgb(248, 221, 248);
}

.sack {
	background-color: rgb(238, 216, 184);
}

p {
	width:106;
	text-align:center;
}

.nope {
	float:left;
}

span {
	float: left;
	margin-right:2px;
	margin-top:15;
	border: 1px black dotted;
	border-radius: 35px;
}

.house span:hover {
	background-color: rgb(233, 226, 226);
}

.sack span:hover {
	background-color: rgb(241, 230, 206);
}

svg {
	position: absolute;
	top: 70px;
	left: 700px;
}

.nope {
	font-size: 30px;
	font: bold;
	border: 1px solid black;
}