img {
	height: 50;
	width: 50;
	margin-left: 30;
	margin-right: 30;
}

.location {
	height: 300;
	width: 330;
	border: 1px black solid;
	float: left;
}

p {
	width:110;
	text-align:center;
}

span {
	float: left;
	margin-top:20;
}