img {
	height: 50;
	width: 50;
	margin-top: 5;
	margin-left: 28;
	margin-right: 28;
	background-color: white;
	border: 1px;
	border-radius: 10;
}

.location {
	height: 300;
	width: 330;
	border: 1px black solid;
	float: left;
	padding-left:2px;
}

.house {
	background-color: rgb(233, 192, 233);
}

.sack {
	background-color: rgb(240, 222, 167);
}

p {
	width:106;
	text-align:center;
}

.nope {
	float:left;
}

span {
	float: left;
	margin-right:2px;
	margin-top:15;
	border: 1px black dotted;
	border-radius: 35px;
}

span:hover {
	background-color:gray;
}