/* Day 8 making visuals */

.chart {
    border: 1px solid gray;
    background-color: rgb(245, 214, 247)
    
}

.chart rect {
    fill: rgb(89, 213, 208);
    stroke: rgb(141, 245, 241);
}

.chart text {
    font: 10px sans-serif;
}

.chart .bar-label {
    fill: white;
}

.chart .y-scale-label {
    fill: rgb(188, 47, 255);
}

.chart line {
    stroke: rgb(90, 23, 128);
}

/*.chart div {*/
/*    background-color: rgb(100,50,150);*/
/*    color: #fff;*/
/*    text-align: right;*/
/*    font: 10px sans-serif;*/
/*    padding: 3px;*/
/*    margin: 1px;*/
/*}*/